.container {
  width: 500px;
  background-color: rgba(243, 233, 233, 0.5);
  padding: 10px;
  margin: 0 auto;
  border: 1px solid maroon;
  border-radius: 10px;
}
/* Mixins */
.bordered {
  border-top: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.post {
  color: maroon;
  border-top: 1px dotted #000;
  border-bottom: 1px solid #000;
}
#small-circle {
  background-color: #BADA55;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
#big-circle {
  background-color: #BADA55;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
