h1,
h2 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
.post-it {
  background-color: yellow;
  border: 1px solid black;
  width: 200px;
  min-height: 200px;
  padding: 10px;
  overflow: scroll;
}
